.App {
  text-align: center;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}
.App-title {
  font-size: 1.5em;
}
.App-intro {
  font-size: large;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.post-image-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
}

.post-image-wrapper .post-like {
  position: absolute;
  top: 20%;
  font-size: 200px;
  color: #eb4d4b;
  text-shadow: 0 0 50px black;
  transform: scale(0);
}

svg.liked {
  transform: scale(0);
  color: #eb4d4b;
}
